# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  check-docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check typos on source files
        uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c # v1.39.2

      - name: Lint Markdown files
        uses: dotanuki-labs/github-actions/quality/markdown@main

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@2f80559b06187bcd1aa7bca5138fe5e5c53e275f # v6.3.0

      - name: Build documentation assets
        uses: dotanuki-labs/github-actions/foss/prepare-ghpages@main

  lint:
    runs-on: ubuntu-24.04
    needs: check-docs

    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Lint Bash scripts
        uses: dotanuki-labs/github-actions/quality/bash@main

      - name: Lint project
        run: ./krabby.sh lint

  tests:
    runs-on: ubuntu-24.04
    needs: check-docs

    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Run Rust tests
        run: ./krabby.sh tests

  build-rust:
    needs: check-docs
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "macos-15"]

    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Cross-compilation against some targets
        run: ./krabby.sh assemble

      - name: Archive binaries
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: gwv-binaries-${{ runner.os }}
          path: artifacts

  build-docker:
    needs: check-docs
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          tags: "dotanuki-labs/gwv:latest"

  compatibility-tests:
    needs: build-rust
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-15-intel]

    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Fetch executable from previous build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: artifacts
          pattern: gwv-binaries-*

      - name: Compatibility check (macOS)
        if: ${{ runner.os == 'macOS'}}
        run: |
          chmod +x ./artifacts/gwv-binaries-macOS/gwv-x86_64-apple-darwin
          ./artifacts/gwv-binaries-macOS/gwv-x86_64-apple-darwin --help

      - name: Compatibility check (Linux)
        if: ${{ runner.os == 'Linux'}}
        run: |
          chmod +x ./artifacts/gwv-binaries-Linux/gwv-x86_64-unknown-linux-musl
          ./artifacts/gwv-binaries-Linux/gwv-x86_64-unknown-linux-musl --help

  security:
    runs-on: ubuntu-24.04
    needs: [lint, tests, build-rust, build-docker, compatibility-tests]

    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check supply-chain issues
        run: ./krabby.sh security

      - name: Generate SBOM
        run: ./krabby.sh sbom

      - name: Archive SBOM
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: sbom-${{ github.sha }}.json
          path: gwv.cdx.json
