# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  check-docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check typos on source files
        uses: crate-ci/typos@78bc6fb2c0d734235d57a2d6b9de923cc325ebdd # v1.43.4

      - name: Lint Markdown files
        uses: rvben/rumdl@a2a12c928e1cef751c847650abe7d6bccbe9d03e # v0.1.21

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@c57037afedf940370c41eb660837c8aa928d472a # v6.5.1

      - name: Build documentation assets
        uses: dotanuki-labs/github-actions/foss/prepare-ghpages@main

  lint:
    runs-on: ubuntu-24.04
    needs: check-docs

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint Bash scripts
        uses: dotanuki-labs/github-actions/quality/bash@main

      - name: Lint project
        run: ./krabby.sh lint

  tests:
    runs-on: ubuntu-24.04
    needs: check-docs

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Run Rust tests
        run: ./krabby.sh tests

  build-rust:
    needs: check-docs
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm", "macos-15"]

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Cross-compilation against some targets
        run: ./krabby.sh assemble

      - name: Archive binaries
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: gwv-binaries-${{ runner.os }}-${{ runner.arch }}
          path: artifacts

  build-docker:
    needs: check-docs
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          push: false
          tags: "dotanuki-labs/gwv:latest"

  compatibility-tests:
    needs: build-rust
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-15-intel]

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Fetch executable from previous build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts
          pattern: gwv-binaries-*

      - name: Compatibility check (macOS)
        if: ${{ runner.os == 'macOS'}}
        run: |
          chmod +x ./artifacts/gwv-binaries-macOS-ARM64/gwv-x86_64-apple-darwin
          ./artifacts/gwv-binaries-macOS-ARM64/gwv-x86_64-apple-darwin --help

      - name: Compatibility check (Linux)
        if: ${{ runner.os == 'Linux'}}
        run: |
          chmod +x ./artifacts/gwv-binaries-Linux-X64/gwv-x86_64-unknown-linux-musl
          ./artifacts/gwv-binaries-Linux-X64/gwv-x86_64-unknown-linux-musl --help

  security:
    runs-on: ubuntu-24.04
    needs: [lint, tests, build-rust, build-docker, compatibility-tests]

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check supply-chain issues
        run: ./krabby.sh security

      - name: Generate SBOM
        run: ./krabby.sh sbom

      - name: Archive SBOM
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sbom-${{ github.sha }}.json
          path: gwv.cdx.json
