# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  check-docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check typos on source files
        uses: crate-ci/typos@06d010dfe4c84fdab1a25ea02b57b3585018ba80 # v1.42.3

      - name: Lint Markdown files
        uses: rvben/rumdl@55fd569510ad029e0bca3bb4cabd4648272950ed # v0.1.8

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@9f58c8ed5347f5dbe58a4a393aaea2be293d6bda # v6.4.1

      - name: Build documentation assets
        uses: dotanuki-labs/github-actions/foss/prepare-ghpages@main

  lint:
    runs-on: ubuntu-24.04
    needs: check-docs

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint Bash scripts
        uses: dotanuki-labs/github-actions/quality/bash@main

      - name: Lint project
        run: ./krabby.sh lint

  tests:
    runs-on: ubuntu-24.04
    needs: check-docs

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Run Rust tests
        run: ./krabby.sh tests

  build-rust:
    needs: check-docs
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm", "macos-15"]

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Cross-compilation against some targets
        run: ./krabby.sh assemble

      - name: Archive binaries
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: gwv-binaries-${{ runner.os }}-${{ runner.arch }}
          path: artifacts

  build-docker:
    needs: check-docs
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          tags: "dotanuki-labs/gwv:latest"

  compatibility-tests:
    needs: build-rust
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-15-intel]

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Fetch executable from previous build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts
          pattern: gwv-binaries-*

      - name: Compatibility check (macOS)
        if: ${{ runner.os == 'macOS'}}
        run: |
          chmod +x ./artifacts/gwv-binaries-macOS-ARM64/gwv-x86_64-apple-darwin
          ./artifacts/gwv-binaries-macOS-ARM64/gwv-x86_64-apple-darwin --help

      - name: Compatibility check (Linux)
        if: ${{ runner.os == 'Linux'}}
        run: |
          chmod +x ./artifacts/gwv-binaries-Linux-X64/gwv-x86_64-unknown-linux-musl
          ./artifacts/gwv-binaries-Linux-X64/gwv-x86_64-unknown-linux-musl --help

  security:
    runs-on: ubuntu-24.04
    needs: [lint, tests, build-rust, build-docker, compatibility-tests]

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check supply-chain issues
        run: ./krabby.sh security

      - name: Generate SBOM
        run: ./krabby.sh sbom

      - name: Archive SBOM
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sbom-${{ github.sha }}.json
          path: gwv.cdx.json
